header {
  background-image: url(img/Skyline.jpg);
  background-size: cover;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 75px;
}

h1 {
    color: red;
    
}

h2 {
    color: seagreen;

}

    /* SELECT LANGUAGE */
    .btnLangage {
        transform: translate(-50%, -50%);
    }

    /* BTN ENG */
    input[type="checkbox"] 
    {
        position: relative;
        width: 80px;
        height: 40px;
        -webkit-appearance: none;
        background:url(https://img.icons8.com/color/40/000000/great-britain-circular.png);
        background-repeat: repeat-y;
        background-position: top right;
        outline: none;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
        transition: .5s;
        border: 1px solid #9AA5B3;


    }
/* BTN FRAN */
    input:checked[type="checkbox"] {
        background:url(https://img.icons8.com/color/40/000000/france-circular.png);
        background-repeat: repeat-y;
        background-position: top left;
        background-color: #ffffff;
    }

    input[type="checkbox"]::before
    {
        content: '';
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #B7C4D4;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        border: 1px solid #9AA5B3;
        transition: .5s;
    } 

    input:checked[type="checkbox"]::before
    {
        left: 40px;
    }

/* BOX PHOTO HOME */

.boxBody {
    display: flex;
    flex-direction: column;
}

.hiver {
    width: 100%;
    height: 40vh;
    background-image: url(img/winter.jpeg);
    background-size: cover;
    background-position: 45% 75%;
    opacity: 30%;
}

.hiver:hover {

    opacity: 70%;
}

.printemps {    
    width: 100%;
    height: 40vh;
    background-image: url(img/spring.jpeg);
    background-size: cover;
    background-position: 45% 75%;
    opacity: 30%;

}

.printemps:hover {

    opacity: 70%;
}
.ete {
    width: 100%;
    height: 40vh;
    background-image: url(img/BodyEte.jpeg);
    background-size: cover;
    background-position: 45% 75%;
    opacity: 30%;
}

.ete:hover {

    opacity: 70%;
}
.automne {
    width: 100%;
    height: 40vh;
    background-image: url(img/fall.jpeg);
    background-size: cover;
    background-position: 45% 75%;
    opacity: 30%;

}

.automne:hover {

    opacity: 70%;
}


/* Footer */

footer {
/* position:absolute;
bottom:0;
width:100%;
/* padding-top:50px;
height:50px; */
} */

.footerBox{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.imgSocial {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}


/* PARTIE RESPONSIVE */

@media screen and (min-width: 600px) {
    header {
      background-image: url(img/Skyline.jpg);
      background-size: cover;
      background-position: bottom;
      min-height: 200px;
    }

    .boxBody {
        display: flex;
        flex-direction: row;
    }

    .automne {
        transform: skew(-15deg);
        height: 70vh;
    }

    .ete {
        height: 70vh;
        transform: skew(-15deg);
        }

    .printemps {
        height: 70vh;
        transform: skew(-15deg);
        }

    .hiver {
        transform: skew(-15deg);
        height: 70vh;
        }


    
    .footerBox{
        display: flex;
        flex-direction: row;
    }
  }